<!doctype html>
{% load staticfiles %}
<html lang="en" class="no-js">
    <head>
        <title>{% block title %}The Variable{% endblock %}</title>

    <!-- META
    ================================================== -->
    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="author" content="The Variable">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Vollkorn:400,400italic|Open+Sans:300,400">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block app_specific_css %}{% endblock app_specific_css %}

  </head>
  <body class="page page-{% block app_type %}{% endblock app_type %}">
    <!--[if lt IE 8]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    {% block content %}{% endblock content %}

    <!-- JS
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block app_specific_js %}{% endblock app_specific_js %}

  </body>
</html>
