{% extends "base_generic.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
<div class="mast-wrapper">
    <header class="mast container">
        <a class="brand" href="/">
            <img class="brand-symbol" src="{% static 'img/logo-symbol.svg' %}" alt="VA">
            <img class="brand-full" src="{% static 'img/logo-full.svg' %}" alt="The Variable">
        </a> <!-- /.brand -->
        <a href="#" class="hamburger" id="js-hamburger">
            <span class="bun bun--top"></span>
            <span class="meat"></span>
            <span class="bun bun--bottom"></span>
        </a>
    </header> <!-- /.mast container -->
</div> <!-- /.mast-wrapper -->

<div class="hero-wrapper">
    <section class="hero container">
        <div class="hero-blurbs">
            <h1 class="hero-blurb">{{ headline }}</h1>
            <div class="hero-blurb-badge">
                <span>No. {{ headline.id }}</span>
            </div> <!-- /.hero-blurb-badge -->
        </div> <!-- /.hero-blurbs -->
        <h2 class="hero-tagline">We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</h2>
    </section> <!-- /.hero container -->
</div> <!-- /.hero-wrapper -->

<div class="secret-sauce-wrapper">
    <section class="secret-sauce">
        <a href="#">The Secret <em>Sauce</em></a>
    </section> <!-- /.secret-sauce -->
</div> <!-- /.secret-sauce-wrapper -->

<div class="projects-wrapper">
    <section class="projects parallax">
        {% for project in project_list %}
        <div class="project">
            <div class="project-bg" data-parallax="scroll" data-speed="0.5" data-position="top" data-natural-width="3400" data-natural-height="1500" data-image-src="{{ MEDIA_URL }}{{ project.hero_image }}"></div> <!-- /.project-bg -->
            <div class="project-content">
                <h2 class="project-title">{{ project.name }}</h2>
                <a class="project-button" href="{{ project.get_absolute_url }}">View Project</a>
            </div> <!-- /.project-content -->
        </div> <!-- /.project -->
        {% endfor %}
    </section> <!-- /.projects parallax-->
</div> <!-- /.projects-wrapper -->

<div class="experience-wrapper">
    <section class="experience container">
        <h2 class="section-title">Our<br><em>Experience</em></h2>
        <p class="section-blurb">As a wearer of many hats, we have played many different roles for some of our favorite brands; from data analysis to strategic development to creative execution. Most often, all of the above. But never less than game-changing.</p>
        <div class="clients">
            {% for client in client_list %}
            <figure class="client">
                {% if client.website %}
                {% thumbnail client.logo "600x600" as large_logo %}
                {% thumbnail client.logo "300x300" as medium_logo %}
                {% thumbnail client.logo "150x150" as small_logo %}
                    <a href="{{ client.website }}">
                        <img
                            srcset="{{ large_logo.url }} 600w,
                                    {{ medium_logo.url }} 300w,
                                    {{ small_logo.url }} 150w"
                            sizes="(min-width: 56.25em) 25vw,
                            33.3333vw"
                            src="{{ medium_logo.url }}"
                            alt="{{ client.name }}">
                    </a>
                    {% endthumbnail %}
                    {% endthumbnail %}
                    {% endthumbnail %}
                {% else %}
                {% thumbnail client.logo "600x600" as large_logo %}
                {% thumbnail client.logo "300x300" as medium_logo %}
                {% thumbnail client.logo "150x150" as small_logo %}
                <img
                    srcset="{{ large_logo.url }} 600w,
                            {{ medium_logo.url }} 300w,
                            {{ small_logo.url }} 150w"
                    sizes="(min-width: 56.25em) 25vw,
                    33.3333vw"
                    src="{{ medium_logo.url }}"
                    alt="{{ client.name }}">
                        {% endthumbnail %}
                    {% endthumbnail %}
                {% endthumbnail %}
                {% endif %}
            </figure> <!-- /.client -->
            {% endfor %}
        </div> <!-- /.clients -->
    </section> <!-- /.experience container -->
</div> <!-- /.experience-wrapper -->

<div class="people-wrapper">
    <section class="people">
        <h2 class="section-title">Our<br><em>People</em></h2>
        <p class="section-blurb">We wear weird like a badge. Our goal is to get the most disparate, brilliant thinkers we can find and unleash their creativity on your brand. Here is who we are.</p>
        <div class="people-grid">
            {% for employee in employee_list %}
            <figure class="person">
                {% thumbnail employee.mugshot "800x800" as large_mugshot %}
                    {% thumbnail employee.mugshot "400x400" as medium_mugshot %}
                        {% thumbnail employee.mugshot "200x200" as small_mugshot %}
                <img
                    srcset="{{ large_mugshot.url }} 800w,
                            {{ medium_mugshot.url }} 400w,
                            {{ small_mugshot.url }} 200w"
                    src="{{ medium_mugshot.url }}"
                    alt="{{ employee.first_name }} {{ employee.last_name }}">
                        {% endthumbnail %}
                    {% endthumbnail %}
                {% endthumbnail %}
                <figcaption>
                    <h3 class="person-name">{{ employee.first_name }}<br>{{ employee.last_name }}</h3>
                    <p class="person-title">{{ employee.title }}</p>
                    <p class="person-hometown">{{ employee.brief_description }}</p>
                </figcaption>
            </figure> <!-- /.staff -->
            {% endfor %}
        </div> <!-- /.staff-grid -->
    </section> <!-- /.people -->
</div> <!-- /.people-wrapper -->

<div class="contact-wrapper">
    <section class="contact">
        <h2 class="section-title"><em>Contact Us</em></h2>
        <p class="section-blurb">Put your seatbelt on and give us a call. We are ready to solve your problem. And make you re-think the value of an advertising agency.</p>
        <div class="map-wrapper">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.6725277916044!2d-80.26128200000001!3d36.101470000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8853ae3c363874f3%3A0x7a9e2657ce6b9540!2sThe+Variable!5e0!3m2!1sen!2sus!4v1418051355601" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div> <!-- /.map -->
        </div> <!-- /.map-wrapper -->
        <form role="form" class="contact-form container" method="post" novalidate="novalidate" data-parsley-validate>
            {% csrf_token %}
            <div class="row">
                <div class="contact-form-left col col--1of2">
                    <div class="form-group form-group--name">
                        <label class="form-label" for="{{ form.name.id_for_label }}">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group form-group--email">
                        <label class="form-label" for="{{ form.email.id_for_label }}">Email address</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group form-group--phone">
                        <label class="form-label" for="{{ form.phone.id_for_label }}">Phone</label>
                        {{ form.phone }}
                    </div>
                </div>
                <div class="contact-form-right col col--1of2">
                    <div class="form-group form-group--subject">
                        <label class="form-label" for="{{ form.interest.id_for_label }}">Interest</label>
                        {{ form.interest }}
                    </div>
                    <div class="form-group form-group--message">
                        <label for="{{ form.body.id_for_body }}"></label>
                        {{ form.body }}
                    </div>
                    <button class="form-button">Submit</button>
                </div>
            </div>
        </form>
    </section> <!-- /.contact -->
</div> <!-- /.contact-wrapper -->
{% endblock content %}
