/* Table of Contents
=====================================================
  CORE................Default elements
  COMPONENTS..........Building blocks
  TEMPLATES...........Page template styles
*/
@font-face {
  font-family: "Nevis";
  src: url("../fonts/nevis/Nevis-Bold.ttf.eot");
  src: url("../fonts/nevis/Nevis-Bold.ttf.eot?#iefix") format("embedded-opentype"), url("../fonts/nevis/Nevis-Bold.ttf.woff") format("woff"), url("../fonts/nevis/Nevis-Bold.ttf.svg#Nevis") format("svg");
  font-weight: bold;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #585858;
  background-color: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}
li {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
}
a {
  text-decoration: underline;
  color: #585858;
  transition: all 0.3s ease-in-out;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}
.group:after,
.row:after,
.panel-collection:after {
  content: "";
  display: table;
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0 0 24px;
  font-family: "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #252525;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #ccc;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
  font-size: 2.25rem;
}
h2,
.h2 {
  font-size: 30px;
  font-size: 1.875rem;
}
h3,
.h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
h4,
.h4 {
  font-size: 20px;
  font-size: 1.25rem;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
}
h6,
.h6 {
  font-size: 14px;
  font-size: 0.875rem;
}
p {
  margin: 0 0 24px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 24px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 24px;
}
dt,
dd {
  line-height: 1.5;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
.form-group {
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
  transition: all 400ms;
}
label {
  font-size: 10px;
  font-size: 0.625rem;
  font-family: "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.form-control,
.form-textarea {
  padding: 10px;
  width: 100%;
  height: 40px;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-family: volkorn;
  font-style: italic;
  color: #95784e;
  background: #fff;
  border: 1px solid #000;
  border-radius: 0;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-control::-moz-placeholder,
.form-textarea::-moz-placeholder {
  color: #252525;
  opacity: 1;
}
.form-control:-ms-input-placeholder,
.form-textarea:-ms-input-placeholder {
  color: #252525;
}
.form-control::-webkit-input-placeholder,
.form-textarea::-webkit-input-placeholder {
  color: #252525;
}
.form-control:focus,
.form-textarea:focus {
  border-color: #95784e;
}
.form-select {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  font-family: volkorn;
  font-style: italic;
  color: #252525;
  background: url("../img/icon-arrow-down.png") 97% 52%;
  background-size: 11px 6px;
  background-repeat: no-repeat;
  border: 0;
  border: 1px solid #000;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-textarea {
  height: auto;
}
.form-button {
  padding: 10px 20px;
  width: auto;
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  font-family: "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #95784e;
  background: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input:focus::-webkit-input-placeholder {
  opacity: 0.2;
}
input:focus:-moz-placeholder {
  opacity: 0.2;
}
input:focus::-moz-placeholder {
  opacity: 0.2;
}
input:focus:-ms-input-placeholder {
  opacity: 0.2;
}
textarea:focus::-webkit-input-placeholder {
  opacity: 0.2;
}
textarea:focus:-moz-placeholder {
  opacity: 0.2;
}
textarea:focus::-moz-placeholder {
  opacity: 0.2;
}
textarea:focus:-ms-input-placeholder {
  opacity: 0.2;
}
.parsley-error {
  border-color: #f6bc33 !important;
}
.parsley-success {
  color: #95784e !important;
  border-color: #95784e !important;
}
.parsley-errors-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.parsley-errors-list li {
  padding: 5px 10px;
  font-size: 10px;
  font-size: 0.625rem;
  font-family: "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #252525;
  background: #f6bc33;
}
.parsley-errors-list li::before {
  content: '\2191';
  padding-right: 5px;
  font-size: 13px;
  font-size: 0.8125rem;
  font-family: "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.btn {
  padding: 10px 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: avenir;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ccc;
  background: #898989;
  border-radius: 100px;
}
.btn,
.btn:hover {
  text-decoration: none;
}
.container {
  margin: 0 30px;
  max-width: 980px;
}
@media (min-width: 65em) {
  .container {
    margin: 0 auto;
  }
}
.col,
.panel-col {
  padding-left: 30px;
  padding-right: 30px;
}
.col + .col,
.panel-col + .col {
  margin-top: 30px;
}
@media (min-width: 43.75em) {
  .col,
  .panel-col,
.panel-col {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    position: relative;
  }
  .col + .col,
  .panel-col + .col {
    margin-top: 0;
  }
}
@media (min-width: 43.75em) {
  .col--1of1,
  .panel-col--1of1 {
    width: 100%;
  }
  .col--1of2,
  .col--2of4,
  .panel-col--1of2,
  .panel-col--2of4 {
    width: 50%;
  }
  .col--1of3,
  .panel-col--1of3 {
    width: 33.333%;
  }
  .col--2of3,
  .panel-col--2of3 {
    width: 66.663%;
  }
  .col--1of4,
  .panel-col--1of4 {
    width: 25%;
  }
  .col--3of4,
  .panel-col--3of4 {
    width: 75%;
  }
  .push--1of2,
  .push--2of4 {
    left: 50%;
  }
  .push--1of3 {
    left: 66.666%;
  }
  .push--2of3 {
    left: 33.333%;
  }
  .push--1of4 {
    left: 75%;
  }
  .push--3of4 {
    left: 25%;
  }
  .pull--1of2,
  .pull--2of4 {
    right: 50%;
  }
  .pull--1of3 {
    right: 66.666%;
  }
  .pull--2of3 {
    right: 33.333%;
  }
  .pull--1of4 {
    right: 75%;
  }
  .pull--3of4 {
    right: 25%;
  }
}
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  zoom: 1;
}
.nav:after {
  content: "";
  display: table;
  clear: both;
}
.nav > li,
.nav > li > a {
  float: left;
}
.nav--block {
  line-height: 1;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  white-space: nowrap;
}
.nav--block > li {
  padding: 0 30px;
  letter-spacing: normal;
  word-spacing: normal;
}
.nav--block > li > a {
  padding: 30px 0;
}
.nav-pills > li > a {
  padding: 9px 24px;
  text-decoration: none;
  color: brand-purple-light;
  background: brand-purple;
  border: 3px solid brand-purple;
  border-radius: 100px;
}
.nav-pills > li > a:hover {
  border: 3px solid brand-purple-light;
}
.nav-pills > li + li {
  margin-left: 10px;
}
.nav-pills .active > a,
.nav-pills .active > a:hover,
.nav-pills .active > a:focus {
  color: #fff;
  background-color: brand-pink;
  border: 3px solid brand-pink;
}
.mast-wrapper {
  background: #fff;
}
.mast {
  padding: 10px 0;
  position: relative;
  zoom: 1;
}
.mast:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 37.5em) {
  .mast {
    padding: 13px 0;
  }
}
@media (min-width: 56.25em) {
  .mast {
    padding: 23px 0;
  }
}
.brand {
  width: 46px;
  display: block;
}
.brand .brand-symbol {
  width: 100%;
}
.brand .brand-full {
  display: none;
}
@media (min-width: 37.5em) {
  .brand {
    margin: 0 auto;
    width: 213px;
  }
  .brand .brand-symbol {
    display: none;
  }
  .brand .brand-full {
    width: 100%;
    display: block;
  }
}
.hamburger {
  width: 31px;
  height: 20px;
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
}
.hamburger span {
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  top: 40%;
  background: #000;
  transition: all 0.2s ease-out;
}
.bun--top {
  transform: translateY(-8px);
}
.bun--bottom {
  transform: translateY(8px);
}
.hamburger.is-open .meat {
  background: transparent;
}
.hamburger.is-open .bun--top {
  transform: translateY(0) rotate(45deg);
}
.hamburger.is-open .bun--bottom {
  transform: translateY(0) rotate(-45deg);
}
.hero-wrapper {
  position: relative;
  overflow: hidden;
  background: url("../img/bg-texture.png");
}
.hero {
  padding: 70px 0 100px;
  background: url("../img/bg-hero.png") 50% 6% no-repeat;
  background-size: 40px 30px;
}
@media (min-width: 43.75em) {
  .hero {
    padding: 110px 0;
    background-size: 66px 50px;
  }
}
@media (min-width: 56.25em) {
  .hero {
    padding: 170px 0;
    background-size: 93px 70px;
    background-position: 50% 6%;
  }
}
.hero-blurb {
  margin: 0 0 20px;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.25;
  text-transform: none;
  text-align: center;
}
@media (min-width: 30em) {
  .hero-blurb {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
@media (min-width: 43.75em) {
  .hero-blurb {
    margin: 0 0 30px;
    font-size: 48px;
    font-size: 3rem;
    line-height: 1;
  }
}
@media (min-width: 56.25em) {
  .hero-blurb {
    margin: 0 0 40px;
    font-size: 78px;
    font-size: 4.875rem;
  }
}
.hero-blurb-badge {
  margin-bottom: 20px;
  width: 100%;
  height: 37px;
  position: relative;
}
.hero-blurb-badge span {
  margin: 0 auto;
  width: 82px;
  height: 37px;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  line-height: 37px;
  text-align: center;
  background: url("../img/bg-hero-badge.svg") no-repeat;
  background-size: 82px 37px;
}
.hero-blurb-badge:before,
.hero-blurb-badge:after {
  content: '';
  display: block;
  width: calc(50% - 55px);
  height: 1px;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  background: #585858;
}
.hero-blurb-badge:after {
  left: auto;
  right: 0;
}
@media (min-width: 43.75em) {
  .hero-blurb-badge {
    margin-bottom: 30px;
  }
}
@media (min-width: 56.25em) {
  .hero-blurb-badge {
    margin-bottom: 40px;
    height: 51px;
  }
  .hero-blurb-badge span {
    width: 114px;
    height: 51px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 51px;
    background-size: 114px 51px;
  }
  .hero-blurb-badge:before,
  .hero-blurb-badge:after {
    width: 35%;
    left: 6%;
  }
  .hero-blurb-badge:after {
    left: auto;
    right: 6%;
  }
}
.hero-tagline {
  margin: 0;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.3;
  text-transform: none;
  text-align: center;
}
@media (min-width: 30em) {
  .hero-tagline {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media (min-width: 43.75em) {
  .hero-tagline {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media (min-width: 56.25em) {
  .hero-tagline {
    margin: 0 auto;
    width: 90%;
    font-size: 26px;
    font-size: 1.625rem;
  }
}
.secret-sauce-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #000;
}
.secret-button {
  padding: 15px 0;
  width: 100%;
  display: block;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.08em;
  color: #95784e;
  background: #000;
}
.secret-button em {
  font-family: "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}
.secret-button:before {
  content: url("../img/icon-secret-sauce-caret-up.png");
  margin-left: -35px;
  padding-top: 10px;
  width: 70px;
  height: 35px;
  display: block;
  position: absolute;
  top: -25px;
  left: 50%;
  background: #000;
  border-radius: 35px 35px 0 0;
}
.secret-button.is-toggled:before {
  content: url("../img/icon-secret-sauce-caret-down.png");
}
@media (min-width: 56.25em) {
  .secret-button {
    padding: 20px 0;
    font-size: 22px;
    font-size: 1.375rem;
  }
  .secret-button:before {
    margin-left: -48px;
    padding-top: 15px;
    width: 96px;
    height: 48px;
    top: -30px;
    border-radius: 48px 48px 0 0;
  }
}
.secret-content {
  position: relative;
  display: none;
  overflow: hidden;
  background: #000 url("../img/bg-secret-content.png") center no-repeat;
  background-size: contain;
}
.secret-content .col {
  padding: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 1.35;
  text-align: center;
  color: #fff;
}
.secret-content p {
  display: none;
}
.secret-content .lead-first,
.secret-content .lead-second {
  margin-bottom: 0;
  padding: 10px 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 2;
  text-align: center;
  color: #95784e;
  border: 1px solid #fff;
  border-width: 1px 0;
}
.secret-content .lead-first {
  display: block;
}
@media (min-width: 43.75em) {
  .secret-content {
    padding: 40px 0;
  }
  .secret-content:before {
    content: '';
    margin-left: -75px;
    width: 150px;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    background: #95784e;
  }
  .secret-content .col {
    padding: 0 20px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.7;
    text-align: left;
  }
  .secret-content p {
    display: block;
  }
  .secret-content .lead-first {
    display: none;
  }
  .secret-content .lead-second {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.85;
    text-align: left;
  }
}
@media (min-width: 56.25em) {
  .secret-content {
    padding: 90px 0;
  }
  .secret-content:before {
    margin-left: -150px;
    width: 300px;
  }
  .secret-content .col {
    padding: 0 30px;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 2.25;
  }
  .secret-content .lead-second {
    padding: 40px 0;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 1.8;
  }
}
.experience,
.people,
.contact {
  padding: 40px 0;
}
@media (min-width: 43.75em) {
  .experience,
  .people,
  .contact {
    padding: 80px 0;
  }
}
@media (min-width: 56.25em) {
  .experience,
  .people,
  .contact {
    padding: 120px 0;
  }
}
.section-title {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
  text-transform: none;
  line-height: 1.25;
  letter-spacing: 0.08em;
}
.section-title em {
  display: inline-block;
  position: relative;
  font-family: "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}
.section-title em:before,
.section-title em:after {
  display: block;
  width: 38px;
  height: 10px;
  position: absolute;
  top: -2px;
}
.section-title em:before {
  content: url("../img/bg-section-title-before-sm.png");
  left: -55px;
}
.section-title em:after {
  content: url("../img/bg-section-title-after-sm.png");
  right: -55px;
}
@media (min-width: 30em) {
  .section-title {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media (min-width: 48em) {
  .section-title {
    font-size: 26px;
    font-size: 1.625rem;
  }
  .section-title em:before,
  .section-title em:after {
    top: -4px;
  }
}
@media (min-width: 56.25em) {
  .section-title {
    font-size: 35px;
    font-size: 2.1875rem;
  }
  .section-title em:before,
  .section-title em:after {
    width: 91px;
    height: 31px;
    top: 3px;
  }
  .section-title em:before {
    content: url("../img/bg-section-title-before.png");
    left: -112px;
  }
  .section-title em:after {
    content: url("../img/bg-section-title-after.png");
    right: -112px;
  }
}
.section-blurb {
  margin: 0 0 40px;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.3;
  text-align: center;
}
@media (min-width: 30em) {
  .section-blurb {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media (min-width: 43.75em) {
  .section-blurb {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
@media (min-width: 56.25em) {
  .section-blurb {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 23px;
    font-size: 1.4375rem;
  }
}
.clients {
  margin-bottom: -5%;
  zoom: 1;
}
.clients:after {
  content: "";
  display: table;
  clear: both;
}
.client {
  margin: 0;
  padding: 3.5%;
  width: 33.3333%;
  float: left;
}
@media (min-width: 56.25em) {
  .client {
    width: 25%;
  }
}
.people .section-blurb {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 980px;
}
@media (min-width: 61.25em) {
  .people .section-blurb {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}
.people-grid {
  border-top: 1px solid #ccc;
  zoom: 1;
}
.people-grid:after {
  content: "";
  display: table;
  clear: both;
}
.person {
  margin: 0;
  width: 33.3333%;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  float: left;
  overflow: hidden;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  cursor: pointer;
}
.person img {
  max-width: 100%;
  display: block;
  position: relative;
}
.person figcaption {
  padding: 10%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.85);
  opacity: 0;
  cursor: pointer;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.person:hover figcaption {
  transform: translateX(0);
  opacity: 1;
}
.person .person-name {
  margin: 0 0 10px;
  padding: 0 0 10px;
  position: relative;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #fff;
}
.person .person-name:after {
  content: '';
  width: 25%;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 0, 0);
  background: #fff;
}
.person .person-title {
  margin: 0 0 3px;
  font-size: 10px;
  font-size: 0.625rem;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 1;
}
.person .person-hometown {
  margin: 0;
  font-size: 8px;
  font-size: 0.5rem;
  font-family: "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  .person {
    width: 25%;
  }
  .person figcaption {
    padding: 20% 10%;
    letter-spacing: 0.2em;
  }
  .person .person-name {
    font-size: 15px;
    font-size: 0.9375rem;
  }
  .person .person-title {
    font-size: 12px;
    font-size: 0.75rem;
  }
  .person .person-hometown {
    font-size: 10px;
    font-size: 0.625rem;
  }
}
@media (min-width: 56.25em) {
  .person .person-name {
    margin: 0 0 20px;
    padding: 0 0 15px;
    font-size: 18px;
    font-size: 1.125rem;
  }
  .person .person-name:after {
    width: 15%;
  }
  .person .person-title {
    font-size: 16px;
    font-size: 1rem;
  }
  .person .person-hometown {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
@media (min-width: 61.25em) {
  .person {
    width: 20%;
  }
  .person figcaption {
    padding: 15% 10%;
  }
}
@media (min-width: 63.75em) {
  .person figcaption {
    padding: 20% 10%;
  }
}
@media (min-width: 75em) {
  .person figcaption {
    padding: 25% 10%;
  }
  .person .person-name {
    font-size: 22px;
    font-size: 1.375rem;
  }
  .person .person-title {
    font-size: 22px;
    font-size: 1.375rem;
  }
  .person .person-hometown {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
.section-blurb {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 980px;
}
@media (min-width: 61.25em) {
  .section-blurb {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}
.map-wrapper {
  margin-bottom: 30px;
  width: 100%;
}
.map-wrapper .map {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}
.map-wrapper iframe,
.map-wrapper object,
.map-wrapper embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 30em) {
  .map-wrapper {
    margin-bottom: 60px;
  }
  .map-wrapper .map {
    height: 300px;
  }
}
@media (min-width: 48em) {
  .map-wrapper .map {
    height: 350px;
  }
}
@media (min-width: 56.25em) {
  .map-wrapper .map {
    height: 450px;
  }
}
.contact-form .form-label {
  display: none;
}
.contact-form .form-button {
  margin-top: -10px;
}
@media (min-width: 43.75em) {
  .contact-form .form-textarea {
    height: 90px;
  }
  .contact-form .form-button {
    float: right;
  }
}
.project-hero-container {
  padding-top: 44.11%;
  position: relative;
}
.project-hero-container img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.panel.has-bg {
  background: #f0f0f0 url("../img/bg-texture.png");
}
.panel-collection {
  padding: 30px 0;
}
.panel-collection.panel-collection--centered,
.panel-collection.panel-collection--6030,
.panel-collection.panel-collection--3060 {
  margin: 0 auto;
  max-width: 980px;
}
.panel-collection.panel-collection--narrow {
  margin: 0 auto;
  max-width: 720px;
}
.panel-collection.panel-collection--full {
  padding: 0;
}
@media (min-width: 43.75em) {
  .panel-collection {
    padding: 50px 0;
  }
}
.panel-col + .panel-col {
  margin-top: 30px;
}
@media (min-width: 43.75em) {
  .panel-col + .panel-col {
    margin-top: 0;
  }
}
.panel-col--1of1 + .panel-col--1of1 {
  margin-top: 15px;
}
@media (min-width: 43.75em) {
  .panel-col--1of1 + .panel-col--1of1 {
    margin-top: 30px;
  }
}
.panel-intro {
  text-align: center;
}
.panel-intro .project-disciplines {
  margin: 0 auto 10px;
  width: 75%;
  line-height: 1.15;
}
.panel-intro .project-discipline {
  font-family: "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.panel-intro .project-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0.15em;
}
.panel-intro .project-description {
  margin-bottom: 0;
  font-size: 12px;
  font-size: 0.75rem;
}
@media (min-width: 43.75em) {
  .panel-intro {
    padding: 50px 0;
  }
  .panel-intro .project-disciplines {
    width: 50%;
  }
  .panel-intro .project-title {
    font-size: 55px;
    font-size: 3.4375rem;
  }
  .panel-intro .project-description {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.panel-content p {
  font-size: 12px;
  font-size: 0.75rem;
}
.panel-content p:last-child {
  margin-bottom: 0;
}
.panel-collection--narrow .panel-content {
  text-align: center;
}
@media (min-width: 43.75em) {
  .panel-content p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.panel-collection--narrow .panel-media img {
  margin: 0 auto;
  width: 75%;
}
@media (min-width: 43.75em) {
  .panel-collection--narrow .panel-media img {
    margin: 0 auto;
    width: 100%;
  }
}
.panel-media--full {
  padding-top: 26.47%;
  position: relative;
}
.panel-media--full img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.panel-video--full {
  padding-top: 44.11%;
  position: relative;
}
.panel-video--full img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.panel-video--full .video-icon {
  margin-top: -24px;
  margin-left: -24px;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../img/icon-video-play.png") center no-repeat;
  opacity: 0.7;
  cursor: pointer;
}
.panel-video--full .video {
  text-align: center;
  background: #000;
}
.panel-video--full .video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slides {
  margin-bottom: 30px;
}
@media (min-width: 43.75em) {
  .slides {
    margin-bottom: 60px;
  }
}
.slide.slick-slide {
  cursor: pointer;
}
.slide.slick-active {
  cursor: initial;
}
.slide-media {
  margin: 0 2%;
  overflow: hidden;
}
.slide-media img {
  margin-left: -50%;
  max-width: none;
  width: 180%;
}
@media (min-width: 63.75em) {
  .slide-media {
    margin: 0 1%;
  }
  .slide-media img {
    margin-left: 0;
    width: 100%;
  }
}
.slide-content {
  margin: 30px auto 0;
  zoom: 1;
}
.slide-content:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 43.75em) {
  .slide-content {
    width: 80%;
  }
}
@media (min-width: 48em) {
  .slide-content {
    margin: 60px auto 0;
  }
}
@media (min-width: 63.75em) {
  .slide-content {
    max-width: 950px;
  }
}
.slide-description {
  display: none;
}
@media (min-width: 43.75em) {
  .slide-description {
    margin-bottom: 0;
    width: calc(100% - 140px);
    display: block;
    float: left;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
  }
}
@media (min-width: 56.25em) {
  .slide-description {
    width: calc(100% - 200px);
    font-size: 16px;
    font-size: 1rem;
  }
}
@media (min-width: 63.75em) {
  .slide-description {
    width: calc(100% - 260px);
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.slide-count {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  position: relative;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1;
}
.slide-count:after {
  content: '';
  width: 1px;
  height: 70px;
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  background: #898989;
  transform: rotate(45deg);
}
@media (min-width: 43.75em) {
  .slide-count {
    margin: 0;
    width: 85px;
    height: 85px;
    float: right;
    font-size: 28px;
    font-size: 1.75rem;
  }
  .slide-count:after {
    height: 120px;
    top: -18px;
  }
}
.slide-current,
.slide-total {
  display: inline-block;
  position: absolute;
}
.slide-current {
  top: 0;
  left: 0;
}
.slide-total {
  bottom: 0;
  right: 0;
}
.project {
  width: 100%;
  height: 200px;
  position: relative;
}
@media (min-width: 56.25em) {
  .project {
    height: 400px;
  }
}
.project-bg {
  width: 100%;
  min-height: 200px;
}
@media (min-width: 56.25em) {
  .project-bg {
    min-height: 400px;
  }
}
.parallax-mirror .parallax-slider {
  max-width: none;
}
.project-content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}
.project-content .project-title {
  margin: 0 auto 15px;
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  color: #fff;
}
.project-content .project-button {
  padding: 10px 30px;
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: vollkorn;
  font-style: italic;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}
.project-content .project-button:hover {
  color: #95784e;
  background: #fff;
}
@media (min-width: 56.25em) {
  .project-content .project-title {
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: 0.3em;
  }
  .project-content .project-button {
    padding: 15px 40px;
    font-size: 21px;
    font-size: 1.3125rem;
    border-width: 2px;
  }
}
