// --------------------------------------------------
//
//   CONFIGURATION SETTINGS
//
// --------------------------------------------------





// --------------------------------------------------
//   COLORS
// --------------------------------------------------
red                   = #B44326
orange                = #F2A34F
yellow                = #F8CA5C
green                 = #7FC028
light-blue            = #52D7FE
blue                  = #00a6fc
purple                = #8E48C2

brand-gray-darker     = #252525
brand-gray-dark       = #585858
brand-gray            = #898989
brand-gray-light      = #ccc
brand-gray-lighter    = #f0f0f0
brand-gold            = #95784e

headings-small-color  = brand-gray-light
input-placeholder-color = brand-gray-light





// --------------------------------------------------
//   SCAFFOLDING
// --------------------------------------------------
body-bg               = #fff
text-color            = brand-gray-dark
link-color            = brand-gray-dark
link-hover-color      = darken(link-color, 15%)





// --------------------------------------------------
//   TYPOGRAPHY
// --------------------------------------------------
@font-face
  font-family "Nevis"
  src  url("/assets/fonts/nevis/Nevis-Bold.ttf.eot")
  src  url("/assets/fonts/nevis/Nevis-Bold.ttf.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/nevis/Nevis-Bold.ttf.woff") format("woff"),
       url("/assets/fonts/nevis/Nevis-Bold.ttf.svg#Nevis") format("svg")
  font-weight bold
  font-style normal

@font-face
  font-family "Sentinel"
  src  url("/assets/fonts/sentinel/Sentinel-Book-webfont.eot")
  src  url("/assets/fonts/sentinel/Sentinel-Book-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/sentinel/Sentinel-Book-webfont.woff") format("woff"),
       url("/assets/fonts/sentinel/Sentinel-Book-webfont.ttf") format("truetype"),
       url("/assets/fonts/sentinel/Sentinel-Book-webfont.svg#Sentinel") format("svg")
  font-weight 400
  font-style normal

// Font stacks
helvetica-neue        = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica             = Helvetica, Arial, sans-serif
georgia               = Georgia, Cambria, "Times New Roman", Times, serif
lucida-grande         = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
code                  = Consolas, "Liberation Mono", Courier, monospace;
verdana               = Verdana, Geneva, sans-serif
nevis                 = "Nevis", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
open-sans             = "Open Sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
vollkorn              = "Vollkorn", Georgia, Cambria, "Times New Roman", Times, serif
sentinel              = "Sentinel", "vollkorn", Georgia, Cambria, "Times New Roman", Times, serif

// Base font
font-family-base      = open-sans
font-size-base        = 16px
font-weight-base      = 400
line-height-base      = 1.5
margin-bottom-base    = unit(font-size-base * line-height-base, px)

// Headings font
headings-font-family  = nevis
headings-font-weight  = normal
headings-text-color   = brand-gray-darker
h1-size               = 36px
h2-size               = 30px
h3-size               = 24px
h4-size               = 20px
h5-size               = 16px
h6-size               = 14px





// --------------------------------------------------
//   USER INTERFACE
// --------------------------------------------------
nav-block-padding     = 30px
nav-pills-padding     = 9px 24px
nav-pills-color       = brand-purple-light
nav-pills-background  = brand-purple
nav-pills-border-color = brand-purple-light
nav-pills-radius      = 100px
nav-pills-active-color = #fff
nav-pills-active-background = brand-pink