// --------------------------------------------------
//
//   PROJECTS PAGE TEMPLATE
//
// --------------------------------------------------





// --------------------------------------------------
//   HERO
// --------------------------------------------------
.project-hero
  //

.project-hero-container
  padding-top 44.11% // To keep aspect ratio of images intact: 750/1700 = .441176471
  position relative
  img
    width 100%
    position absolute
    top 0
    left 0
  @media (min-width: 43.75em)
    //

// --------------------------------------------------
//   PANELS, PANEL, PANEL COLUMNS, & PANEL COLLECTIONS
// --------------------------------------------------
.panels
  //

.panel
  @extends .row
  position relative
  &.has-bg
    background brand-gray-lighter url(../img/bg-texture.png)

.panel-col
  @media (min-width: 43.75em)
    float left

.panel-col--1of2
  @media (min-width: 43.75em)
    width 50%

// --------------------------------------------------
//   PANEL INTRO, CONTENT, MEDIA & VIDEO
// --------------------------------------------------
.panel-intro
  margin 0 auto
  padding 30px
  max-width 980px
  text-align center
  .project-disciplines
    margin 0 auto 10px
    width 75%
    line-height 1.15
  .project-discipline
    font-family nevis
    font-size 12px
    letter-spacing .15em
    text-transform uppercase
  .project-title
    margin-bottom 20px
    font-size 24px
    letter-spacing .15em
  .project-description
    margin-bottom 0
    font-size 12px
  @media (min-width: 43.75em)
    padding 50px 0
    .project-disciplines
      width 50%
    .project-title
      font-size 55px
    .project-description
      font-size 18px

.panel-content-outer
  @media (min-width: 43.75em)
    width 50%
    height 100%
    position absolute // Positioned absolutely relative to .panel
    overflow hidden // So no content will spill out

.panel-content-inner
  padding 30px
  text-align center
  p
    font-size 12px
    &:last-child
      margin-bottom 0
  @media (min-width: 43.75em)
    padding 0 10%
    position absolute
    top 50%
    transform translateY(-50%)
    p
      font-size 16px

.panel-media
  img
    width 100%
    height auto

.panel-media--single
  padding 30px
  background #ececec
  img
    margin 0 auto
    width initial
    max-width 100%
    height auto
  @media (min-width: 43.75em)
    padding 150px 0

.panel-media--full
  // padding-top 26.47% // To keep aspect ratio of images intact: 450/1700 = .264705882
  // position relative
  // img
  //   position absolute
  //   top 0
  //   left 0

.panel-video
  padding-top 44.1666% // To keep aspect ratio of images intact: 424/960 = .441666
  position relative // For positioning poster image, video play icon and video iframe
  img
    width 100%
    position absolute
    top 0
    left 0
  .video-icon
    margin-top -24px
    margin-left -24px
    width 48px
    height 48px
    display block
    position absolute
    top 50%
    left 50%
    background url(../img/icon-video-play.png) center no-repeat
    opacity .7
    cursor pointer
  .video
    text-align center
    background #000
    iframe
      width 100%
      height 100%
      position absolute
      top 0
      left 0
  @media (min-width: 43.75em)
    //

.panel-collection
  @media (min-width: 43.75em)
    padding-bottom 50%
    padding-bottom 64.235% // Based on 3400px X 2184px dimensions
    height 0
    position relative

.panel-collection-inner
  .row-content
    padding 30px
    text-align center
    p
      font-size 12px
      &:last-child
        margin-bottom 0
  @media (min-width: 43.75em)
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    display table
    .panel-col
      float none
      display table-cell
      vertical-align top
      img
        width 100%
    .panel-row
      width 100%
      height 50%
      display inline-table
      vertical-align top
    .panel-row--media
      //
    .panel-row--content
      position relative
      overflow hidden
    .row-content
      padding 0 10%
      position absolute
      top 50%
      transform translateY(-50%)
      p
        font-size 16px

// --------------------------------------------------
//   CAROUSELS (SLIDES)
// --------------------------------------------------
.slides
  margin-bottom 30px
  @media (min-width: 43.75em)
    margin-bottom 60px

.slide
  &.slick-slide
    cursor pointer
  &.slick-active
    cursor initial

.slide-media
  margin 0 2% // Create gap between carousel slides
  overflow hidden
  img
    margin-left -50%
    max-width none
    width 180%
  @media (min-width: 63.75em)
    margin 0 1% // Create gap between carousel slides
    img
      margin-left 0
      width 100%

.slide-content
  margin 30px auto 0
  clearfix()
  @media (min-width: 43.75em)
    width 80%
  @media (min-width: 48em)
    margin 60px auto 0
  @media (min-width: 63.75em)
    max-width 950px

.slide-description
  display none
  @media (min-width: 43.75em)
    margin-bottom 0
    width calc(100% \- 140px)
    display block
    float left
    font-size 14px
    font-weight 300
  @media (min-width: 56.25em)
    width calc(100% \- 200px)
    font-size 16px
  @media (min-width: 63.75em)
    width calc(100% \- 260px)
    font-size 18px

.slide-count
  margin 0 auto
  width 50px
  height 50px
  position relative
  font-size 18px
  font-weight 300
  line-height 1
  &:after
    content ''
    width 1px
    height 70px
    display block
    position absolute
    top -10px
    left 50%
    background brand-gray
    transform rotate(45deg)
  @media (min-width: 43.75em)
    margin 0
    width 85px
    height 85px
    float right
    font-size 28px
    &:after
      height 120px
      top -18px

.slide-current,
.slide-total
  display inline-block
  position absolute

.slide-current
  top 0
  left 0

.slide-total
  bottom 0
  right 0

// --------------------------------------------------
//   PROJECT NAV
// --------------------------------------------------
.project-nav
  padding-bottom 150px
  background #ececec
  clearfix()

.project-nav-btn
  height 75px
  display block
  font-size 14px
  font-family nevis
  line-height 65px
  letter-spacing .15em
  text-align center
  text-decoration none
  text-transform uppercase
  color #fff
  @media (min-width: 43.75em)
    width 50%
    height 150px
    float left
    font-size 20px
    line-height 150px

.project-nav-btn--prev
  background brand-gray-darker
  &:before
    content '«'
    padding-right 20px
    font-size 30px

.project-nav-btn--next
  background brand-gray-dark
  &:after
    content '»'
    padding-left 20px
    font-size 30px
