// --------------------------------------------------
//
//   HERO
//
// --------------------------------------------------





// --------------------------------------------------
//   HERO
// --------------------------------------------------
.hero-wrapper
  position relative // For positioning secret sauce expander
  overflow hidden
  background url(../img/bg-texture.png)

.hero
  padding 70px 0 100px
  background url(../img/bg-hero.png) 50% 6% no-repeat
  background-size 40px 30px
  @media (min-width: 43.75em)
    padding 110px 0
    background-size 66px 50px
  @media (min-width: 56.25em)
    padding 170px 0
    background-size 93px 70px
    background-position 50% 6%

.hero-blurbs
  //

.hero-blurb
  margin 0 0 20px
  font-size 20px
  font-family merriweather
  line-height 1.25
  text-transform none
  text-align center
  @media (min-width: 30em)
    font-size 28px
  @media (min-width: 43.75em)
    margin 0 0 30px
    font-size 48px
    line-height 1
  @media (min-width: 56.25em)
    margin 0 0 40px
    font-size 78px

.hero-blurb-badge
  margin-bottom 20px
  width 100%
  height 37px
  position relative
  span
    margin 0 auto
    width 82px
    height 37px
    display block
    font-size 14px
    font-family merriweather
    font-weight 400
    font-style italic
    line-height 37px
    text-align center
    background url(../img/bg-hero-badge.svg) no-repeat
    background-size 82px 37px
  &:before,
  &:after
    content ''
    display block
    width calc(50% \- 55px)
    height 1px
    position absolute
    top calc(50% \- 1px)
    left 0
    background brand-gray-dark
  &:after
    left auto
    right 0
  @media (min-width: 43.75em)
    margin-bottom 30px
  @media (min-width: 56.25em)
    margin-bottom 40px
    height 51px
    span
      width 114px
      height 51px
      font-size 20px
      line-height 51px
      background-size 114px 51px
    &:before,
    &:after
      width 35%
      left 6%
    &:after
      left auto
      right 6%

.hero-tagline
  margin 0
  font-size 12px
  font-family merriweather
  font-weight 400
  font-style italic
  line-height 1.3
  text-transform none
  text-align center
  @media (min-width: 30em)
    font-size 14px
  @media (min-width: 43.75em)
    font-size 20px
  @media (min-width: 56.25em)
    margin 0 auto
    width 90%
    font-size 26px

// --------------------------------------------------
//   SECRET SAUCE
// --------------------------------------------------
.secret-sauce-wrapper
  width 100%
  position absolute
  bottom 0
  background #000
  // background #000 url(../img/bg-secret-sauce-wrapper.png) left bottom repeat-x

.secret-sauce
  //

.secret-button
  padding 15px 0
  width 100%
  display block
  position relative // For positioning the :after
  font-size 16px
  font-family merriweather
  font-style italic
  line-height 1
  text-align center
  text-decoration none
  letter-spacing .08em
  color brand-gold
  background #000
  em
    font-family nevis
    font-style normal
    text-transform uppercase
  &:before
    content url(../img/icon-secret-sauce-caret-up.png)
    margin-left -35px
    padding-top 10px
    width 70px
    height 35px
    display block
    position absolute
    top -25px
    left 50%
    background #000
    border-radius 35px 35px 0 0
  &.is-toggled
    &:before
      content url(../img/icon-secret-sauce-caret-down.png)
  @media (min-width: 56.25em)
    padding 20px 0
    font-size 22px
    &:before
      margin-left -48px
      padding-top 15px
      width 96px
      height 48px
      top -30px
      border-radius 48px 48px 0 0

.secret-content
  // max-height 0
  position relative // For positioning :before element
  display none
  overflow hidden
  background #000 url(../img/bg-secret-content.png) center no-repeat
  background-size contain
  // transition max-height 1s ease-in-out
  &.is-open
    // max-height 800px
  .col
    padding 0
    font-size 13px
    font-family merriweather
    font-style italic
    line-height 1.35
    text-align center
    color #fff
  p
    display none
  .lead-first,
  .lead-second
    margin-bottom 0
    padding 10px 0
    font-size 18px
    font-style normal
    line-height 2
    text-align center
    color brand-gold
    border 1px solid #fff
    border-width 1px 0
  .lead-first
    display block

  @media (min-width: 43.75em)
    padding 40px 0
    &:before
      content ''
      margin-left -75px
      width 150px
      height 1px
      display block
      position absolute
      top 0
      left 50%
      background brand-gold
    .col
      padding 0 20px
      font-size 14px
      line-height 1.7
      text-align left
    p
      display block
    .lead-first
      display none
    .lead-second
      font-size 19px
      line-height 1.85
      text-align left
  @media (min-width: 56.25em)
    padding 90px 0
    &:before
      margin-left -150px
      width 300px
    .col
      padding 0 30px
      font-size 17px
      line-height 2.25
    .lead-second
      padding 40px 0
      font-size 25px
      line-height 1.8