// --------------------------------------------------
//
//   PROJECTS PAGE TEMPLATE
//
// --------------------------------------------------





// --------------------------------------------------
//   HERO
// --------------------------------------------------
.project-hero
  //

.project-hero-container
  padding-top 44.11% // To keep aspect ratio of images intact: 750/1700 = .441176471
  position relative
  img
    width 100%
    position absolute
    top 0
    left 0
  @media (min-width: 43.75em)
    //

// --------------------------------------------------
//   PANELS, PANEL & PANEL COLLECTION
// --------------------------------------------------
.panels
  //

.panel
  &.has-bg
    background brand-gray-lighter url(/assets/img/bg-texture.png)

.panel-collection
  @extends .row
  padding 30px 0
  &.panel-collection--centered
    margin 0 auto
    max-width 980px
  &.panel-collection--narrow
    margin 0 auto
    max-width 720px
  &.panel-collection--full
    padding 0
  @media (min-width: 43.75em)
    padding 50px 0

.panel-col
  @extends .col
  + .panel-col
    margin-top col-gutter
  @media (min-width: 43.75em)
    + .panel-col
      margin-top 0

@media (min-width: 43.75em)
  .panel-col--1of1
    @extends .col--1of1
  .panel-col--1of2
    @extends .col--1of2
  .panel-col--1of3
    @extends .col--1of3
  .panel-col--2of3
    @extends .col--2of3
  .panel-col--1of4
    @extends .col--1of4
  .panel-col--2of4
    @extends .col--2of4
  .panel-col--3of4
    @extends .col--3of4

.panel-col--1of1
  + .panel-col--1of1
    margin-top (col-gutter/2)
    @media (min-width: 43.75em)
      margin-top col-gutter

// --------------------------------------------------
//   PANEL INTRO, CONTENT, MEDIA & VIDEO
// --------------------------------------------------
.panel-intro
  text-align center
  .project-disciplines
    margin 0 auto 10px
    width 75%
    line-height 1.15
  .project-discipline
    font-family nevis
    font-size 12px
    letter-spacing .15em
    text-transform uppercase
  .project-title
    margin-bottom 20px
    font-size 24px
    letter-spacing .15em
  .project-description
    margin-bottom 0
    font-size 12px
  @media (min-width: 43.75em)
    padding 50px 0
    .project-disciplines
      width 50%
    .project-title
      font-size 55px
    .project-description
      font-size 18px

.panel-content
  p
    font-size 12px
    &:last-child
      margin-bottom 0
  .panel-collection--narrow &
    text-align center
  @media (min-width: 43.75em)
    p
      font-size 18px

.panel-media
  .panel-collection--narrow &
    img
      margin 0 auto
      width 75%
  @media (min-width: 43.75em)
    .panel-collection--narrow &
      img
        margin 0 auto
        width 100%

.panel-media--full
  padding-top 26.47% // To keep aspect ratio of images intact: 450/1700 = .264705882
  position relative
  img
    width 100%
    position absolute
    top 0
    left 0
  @media (min-width: 43.75em)
    //

.panel-video--full
  padding-top 44.11% // To keep aspect ratio of images intact: 750/1700 = .441176471
  position relative // For positioning poster image, video play icon and video iframe
  img
    width 100%
    position absolute
    top 0
    left 0
  .video-icon
    margin-top -24px
    margin-left -24px
    width 48px
    height 48px
    display block
    position absolute
    top 50%
    left 50%
    background url(/assets/img/icon-video-play.png) center no-repeat
    opacity .7
    cursor pointer
  .video
    text-align center
    background #000
    iframe
      width 100%
      height 100%
      position absolute
      top 0
      left 0
  @media (min-width: 43.75em)
    //

// --------------------------------------------------
//   CAROUSELS (SLIDES)
// --------------------------------------------------
.slides
  margin-bottom 30px
  @media (min-width: 43.75em)
    margin-bottom 60px

.slide
  &.slick-slide
    cursor pointer
  &.slick-active
    cursor initial

.slide-media
  margin 0 2% // Create gap between carousel slides
  overflow hidden
  img
    margin-left -50%
    max-width none
    width 180%
  @media (min-width: 63.75em)
    margin 0 1% // Create gap between carousel slides
    img
      margin-left 0
      width 100%

.slide-content
  margin 30px auto 0
  clearfix()
  @media (min-width: 43.75em)
    width 80%
  @media (min-width: 48em)
    margin 60px auto 0
  @media (min-width: 63.75em)
    max-width 950px

.slide-description
  display none
  @media (min-width: 43.75em)
    margin-bottom 0
    width calc(100% \- 140px)
    display block
    float left
    font-size 14px
    font-weight 300
  @media (min-width: 56.25em)
    width calc(100% \- 200px)
    font-size 16px
  @media (min-width: 63.75em)
    width calc(100% \- 260px)
    font-size 18px

.slide-count
  margin 0 auto
  width 50px
  height 50px
  position relative
  font-size 18px
  font-weight 300
  line-height 1
  &:after
    content ''
    width 1px
    height 70px
    display block
    position absolute
    top -10px
    left 50%
    background brand-gray
    transform rotate(45deg)
  @media (min-width: 43.75em)
    margin 0
    width 85px
    height 85px
    float right
    font-size 28px
    &:after
      height 120px
      top -18px

.slide-current,
.slide-total
  display inline-block
  position absolute

.slide-current
  top 0
  left 0

.slide-total
  bottom 0
  right 0

// --------------------------------------------------
//   PROJECT LIST
// --------------------------------------------------
.projects
  //

.project
  width 100%
  height 200px
  position relative
  // display table
  @media (min-width: 56.25em)
    height 400px

.project-bg
  width 100%
  min-height 200px
  @media (min-width: 56.25em)
    min-height 400px

.parallax-mirror
  .parallax-slider
    max-width none // Removes default img max-width 100%

.project-content
  // display table-cell
  // vertical-align middle
  margin auto
  height 140px
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  text-align center
  .project-title
    margin 0 auto 15px
    font-size 24px
    letter-spacing .1em
    color #fff
  .project-button
    padding 10px 30px
    display inline-block
    font-size 18px
    font-family vollkorn
    font-style italic
    line-height 1
    text-decoration none
    color #fff
    border 1px solid #fff
    &:hover
      color brand-gold
      background #fff
  @media (min-width: 56.25em)
    .project-title
      font-size 40px
      letter-spacing 0.3em
    .project-button
      padding 15px 40px
      font-size 21px
      border-width 2px