{% load thumbnail %}

{% for imageasset in obj.imageasset_set.all %}
    <div class="panel-media panel-col panel-col--1of2">
        {% thumbnail imageasset.image "1700" as large_image %}
        {% thumbnail imageasset.image "850" as medium_image %}
        {% thumbnail imageasset.image "425" as small_image %}
        <img
            srcset="{{ large_image.url }} 1700w,
            {{ medium_image.url }} 850w,
            {{ small_image.url }} 425w"
            src="{{ medium_image.url }}"
            sizes="(min-width: 43.75em) 50vw, 100vw"
            alt="{{ imageasset.name }}">
        {% endthumbnail %}
        {% endthumbnail %}
        {% endthumbnail %}
    </div>
{% endfor %}
{% for textasset in obj.textasset_set.all %}
    <div class="panel-content panel-col panel-col--1of2">
        <div class="panel-content-outer">
            <div class="panel-content-inner">
                {% if textasset.title %}<h3>{{ textasset.title }}</h3>{% endif %}
                <p>{{ textasset.text }}</p>
            </div>
        </div>
    </div>
{% endfor %}
