{% load thumbnail %}

{% for textasset in obj.textasset_set.all %}
    <div class="panel-content panel-col panel-col--1of2">
        <div class="panel-content-outer">
            <div class="panel-content-inner">
                {% if textasset.title %}<h3>{{ textasset.title }}</h3>{% endif %}
                <p>{{ textasset.text }}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% for imageasset in obj.imageasset_set.all %}
    <div class="panel-media panel-col panel-col--1of2">
        {% thumbnail imageasset.image "1246" as large_image %}
        {% thumbnail imageasset.image "623" as medium_image %}
        <img
            srcset="{{ large_image.url }} 1246w,
            {{ medium_image.url }} 623w"
            src="{{ medium_image.url }}"
            alt="{{ imageasset.name }}">
        {% endthumbnail %}
        {% endthumbnail %}
    </div>
{% endfor %}
