{% load thumbnail %}

{% if obj.imageasset_set.count == 1 %}
    {% for imageasset in obj.imageasset_set.all %}
    <div class="panel-media panel-col panel-col--1of1">
        {% thumbnail imageasset.image "1900" as large_image %}
        {% thumbnail imageasset.image "950" as medium_image %}
        <img
            srcset="{{ large_image.url }} 1900w,
            {{ medium_image.url }} 950w"
            src="{{ medium_image.url }}"
            alt="{{ imageasset.name }}">
        {% endthumbnail %}
        {% endthumbnail %}
    </div>
    {% endfor %}
{% elif obj.imageasset_set.count > 1 %}
{% for imageasset in obj.imageasset_set.all %}
<div class="panel-media panel-col panel-col--1of2">
    {% thumbnail imageasset.image "1900" as large_image %}
    {% thumbnail imageasset.image "950" as medium_image %}
    <img
        srcset="{{ large_image.url }} 1900w,
        {{ medium_image.url }} 950w"
        src="{{ medium_image.url }}"
        alt="{{ imageasset.name }}">
    {% endthumbnail %}
    {% endthumbnail %}
</div> <!-- /.panel-media panel-col panel-col--1of2 -->
{% endfor %}
{% endif %}
