{% load thumbnail %}

{% if obj.videoasset_set.count %}
    {% for videoasset in obj.videoasset_set.all %}
        <div class="panel-video--full" data-video-id="{{ videoasset.get_video_id }}">
            {% thumbnail videoasset.get_video_thumbnail_url "3400x1500" as large_thumbnail %}
            {% thumbnail videoasset.get_video_thumbnail_url "1700x750" as medium_thumbnail %}
            {% thumbnail videoasset.get_video_thumbnail_url "850x375" as small_thumbnail %}
            <img
                srcset="{{ large_thumbnail.url }} 3400w,
                {{ medium_thumbnail.url }} 1700w,
                {{ small_thumbnail.url }} 850w"
                src="{{ medium_thumbnail.url }}"
                alt="{{ videoasset.name }}">
            {% endthumbnail %}
            {% endthumbnail %}
            {% endthumbnail %}
            <a class="video-icon"></a>
        </div> <!-- /.panel-media--full -->
    {% endfor %}
{% elif obj.imageasset_set.count == 1 %}
    {% for imageasset in obj.imageasset_set.all %}
        <div class="panel-media--full">
            {% thumbnail imageasset.image "3400x1500" as large_image %}
            {% thumbnail imageasset.image "1700x450" as medium_image %}
            {% thumbnail imageasset.image "850x225" as small_image %}
            <img
                srcset="{{ large_image.url }} 3400w,
                {{ medium_image.url }} 1700w,
                {{ small_image.url }} 850w"
                src="{{ medium_image.url }}"
                alt="{{ imageasset.name }}">
            {% endthumbnail %}
            {% endthumbnail %}
            {% endthumbnail %}
        </div> <!-- /.panel-media--full -->
    {% endfor %}
{% elif obj.imageasset_set.count > 1 %}
        <div class="slides slides--full">
            {% for imageasset in obj.imageasset_set.all %}
            <div class="slide">
                <div class="slide-media">
                    {% thumbnail imageasset.image "3400x1500" as large_image %}
                    {% thumbnail imageasset.image "1700x450" as medium_image %}
                    {% thumbnail imageasset.image "850x225" as small_image %}
                    <img
                        srcset="{{ large_image.url }} 3400w,
                        {{ medium_image.url }} 1700w,
                        {{ small_image.url }} 850w"
                        src="{{ medium_image.url }}"
                        alt="{{ imageasset.name }}">
                    {% endthumbnail %}
                    {% endthumbnail %}
                    {% endthumbnail %}
                </div> <!-- /.slide-media -->
                <div class="slide-content">
                    <p class="slide-description">{{ imageasset.caption }}</p>
                    <div class="slide-count">
                        <span class="slide-current">{{ forloop.counter }}</span>
                        <span class="slide-total">{{ obj.imageasset_set.count }}</span>
                    </div> <!-- /.slide-count -->
                </div> <!-- /.slide-content -->
            </div> <!-- /.slide -->
            {% endfor %}
        </div>
{% endif %}
