{% load thumbnail %}

{% if obj.textasset_set.count %}
    {% for textasset in obj.textasset_set.all %}
    <div class="panel-content panel-col panel-col--1of1">
        <p>{{ textasset.text }}</p>
    </div> <!-- /.panel-content panel-col panel-col--1of1 -->
    {% endfor %}
{% elif obj.imageasset_set.count == 1 %}
    {% for imageasset in obj.imageasset_set.all %}
    <div class="panel-media panel-col panel-col--1of1">
        {% thumbnail imageasset.image "660" as large_image %}
        {% thumbnail imageasset.image "330" as medium_image %}
        <img
            srcset="{{ large_image.url }} 660w,
            {{ medium_image.url }} 330w"
            src="{{ medium_image.url }}"
            alt="{{ imageasset.name }}">
        {% endthumbnail %}
        {% endthumbnail %}
    </div> <!-- /.panel-media panel-col panel-col--1of1 -->
    {% endfor %}
{% elif obj.imageasset_set.count > 1 %}
    {% for imageasset in obj.imageasset_set.all %}
    <div class="panel-media panel-col panel-col--1of{{ forloop.counter }}">
        {% thumbnail imageasset.image "660" as large_image %}
        {% thumbnail imageasset.image "330" as medium_image %}
        <img
            srcset="{{ large_image.url }} 660w,
            {{ medium_image.url }} 330w"
            src="{{ medium_image.url }}"
            alt="{{ imageasset.name }}">
        {% endthumbnail %}
        {% endthumbnail %}
    </div> <!-- /.panel-media panel-col panel-col--1of{{ forloop.counter }} -->
    {% endfor %}
{% endif %}
