{% extends "base_project.html" %}
{% load thumbnail %}
{% load static %}

{% block content %}
<div class="mast-wrapper">
    <header class="mast container">
        <a class="brand" href="/">
            <img class="brand-symbol" src="{% static 'img/logo-symbol.svg' %}" alt="VA">
            <img class="brand-full" src="{% static 'img/logo-full.svg' %}" alt="The Variable">
        </a> <!-- /.brand -->
        <a href="#" class="hamburger" id="js-hamburger">
            <span class="bun bun--top"></span>
            <span class="meat"></span>
            <span class="bun bun--bottom"></span>
        </a>
    </header> <!-- /.mast container -->
</div> <!-- /.mast-wrapper -->

<section class="project-hero">
    <div class="project-hero-container">
        {% thumbnail project.hero_image "1920" as large_hero %}
        {% thumbnail project.hero_image "960" as medium_hero %}
        {% thumbnail project.hero_image "480" as small_hero %}
        <img
        srcset="{{ large_hero.url }} 1920w,
                {{ medium_hero.url }} 960w,
                {{ small_hero.url }} 480w"
        src="{{ medium_hero.url }}"
        alt="{{ project.name }}">
        {% endthumbnail %}
        {% endthumbnail %}
        {% endthumbnail %}
    </div> <!-- /.project-hero-container -->
</section> <!-- /.project-hero -->

<section class="panels">

<div class="panel">
    <div class="panel-intro">
        <div class="project-disciplines">
        {% for category in project.categories.all %}
            <span class="project-discipline">
                {% if project.categories.count > 1 %}
                    {% if forloop.last %}
                        &amp; {{ category.name }}
                    {% else %}
                        {{ category.name }}{% if forloop.revcounter0 > 1 %}, {% endif %}
                    {% endif %}
                {% else %}
                    {{ category.name }}
                {% endif %}
            </span>
        {% endfor %}
        </div> <!-- /.disciplines -->
        <h1 class="project-title">{{ project.name }}</h1>
        <p class="project-description">{{ project.description }}</p>
    </div> <!-- /.panel-intro -->
</div> <!-- /.panel -->

{% for assetgroup in assetgroup_list %}
<div class="panel">
    {{ assetgroup.as_html }}
</div>
{% endfor %}

</section>

<section class="project-nav">
  <a href="#" class="project-nav-btn project-nav-btn--prev">Previous Project</a>
  <a href="#" class="project-nav-btn project-nav-btn--next">Next Project</a>
</section> <!-- /.project-nav -->
{% endblock content %}
