{% extends "base_project.hml" %}
{% block content %}
<section class="project-hero">
  <div class="project-hero-container" style="background-image: url({{ MEDIA_URL }}{{ project.hero_image }})"></div> <!-- /.project-hero-container -->
</section> <!-- /.project-hero -->

<section class="panels">

  <div class="panel">
    <div class="panel-collection panel-collection--narrow">
      <div class="panel-intro panel-col panel-col--1of1">
        <div class="project-disciplines">
        {% for category in project.categories.all %}
          <span class="project-discipline">{% if not forloop.last %}{{ category.name }}, {% else %}&amp; {{ category.name }}{% endif %}</span>
        {% endfor %}
        </div> <!-- /.disciplines -->
        <h1 class="project-title">{{ project.name }}</h1>
        <p class="project-description">{{ project.description }}</p>
      </div> <!-- /.panel-content panel-intro panel-col panel-col--1of1 -->
    </div> <!-- /.panel-collection panel-collection--narrow -->
  </div> <!-- /.panel -->

{% for assetgroup in assetgroup_list %}
<div class="panel{% if assetgroup.has_emphasis %}has-bg{% endif %}">
    <div class="panel-collection panel-collection--{{ assetgroup.asset_group_type }}">
    {{ assetgroup.as_html }}
    </div>
</div>
{% endfor %}

</section>
{% endblock content %}
